@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
	margin: 0;
	text-align: center;
	font-size: 25px;
	background-color: #EAEAEA;
}

.main {
	font-family: 'Courgette', cursive;
	font-size: 100px;
	font-weight: bold;
	margin: 60px auto;
}

.navbar {
	padding: 10px;
	list-style: none;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #D5D5D5;
}

.navbar>li {
	display: inline-block;
	margin: 0 60px;
}

.navbar>li>a {
	text-decoration: none;
	color: black;
	font-family: 'Courgette', cursive;
	font-size: 32px;
}

#Profile {
	margin: 0 auto;
	padding: 80px 0;
}

#Profile img {
	width: 400px;
	border-radius: 50%;
}

button {
	background: black;
	margin: 5px;
	font-size: 25px;
	color: white;
	border-radius: 5px;
}

hr {
	width: 1200px;
}

#Skills {
	width: 800px;
	margin: 0 auto;
	padding: 80px 0;
}

table {
	width: 100%;
	border: 1px solid black;
	border-spacing: 0;
	border-radius: 10px;
}

tr:first-child td {
	border-bottom: 1px solid black;
}

td {
	padding: 10px;
	border-right: 1px solid black;
}

tr:first-child td:last-child {
	border-right: none;
}

tr:last-child td:last-child {
	border-right: none;
}

#Project {
	width: 800px;
	margin: 0 auto;
	padding: 80px 0;
}

#Project img {
	width: 100%;
}

#Contact {
	width: 450px;
	margin: 0 auto;
	padding: 80px 0;
}

#Contact #ct, #Contact #ct td {
	border: none;
	padding-top: 0;
}

@media all and (max-width:1200px) {
	hr {
		width: 100%;
	}
}