@charset "UTF-8";

body {
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #EAEAEA;
}

.logo {
	width: 180px;
	margin: 50px 0 20px 0;
}

a {
	text-decoration: none;
	color: black;
}

.head {
	display:flex;
	flex-wrap:wrap;
	width: 800px;
	margin: 0 auto 40px auto;
}

.head div {
	margin: 0 auto;
	width: 400px;
}

ul {
	margin: 0;
}

li {
	text-align: left;
	margin: 5px 0;
}

hr {
	width: 1000px;
	margin-bottom: 60px;
}

video {
	width: 800px;
	outline: none;
	margin: 0 auto 60px auto;
}

button {
	background: none;
	font-size: 15px;
	padding: 3px 5px;
	margin: 0 5px 50px 5px;
	border: 1px solid black;
	border-radius: 5px;
}

@media all and (max-width:1200px) {
	hr {
		width: 100%;
	}
}

@media all and (max-width:800px) {
	.head {
		width: 100%;
	}
	
	video {
		width: 98%;
	}
}

@media all and (min-width:550px) and (max-width:800px) {
	.head div {
		width: 50%;
	}
}

@media all and (max-width:550px) {
	.head div {
		width: 100%;
		margin: 0 5%;
	}
}